<component name="ArtifactManager">
  <artifact type="jar" name="server">
    <output-path>$PROJECT_DIR$/out/artifacts/server</output-path>
    <root id="archive" name="server.jar">
      <element id="module-output" name="lab6" />
      <element id="library" level="project" name="Maven: com.google.code.gson:gson:2.10.1" />
      <element id="library" level="project" name="Maven: org.slf4j:slf4j-api:2.0.13" />
      <element id="library" level="project" name="Maven: org.apache.commons:commons-collections4:4.5.0-M1" />
      <element id="library" level="project" name="Maven: org.apache.commons:commons-lang3:3.14.0" />
      <element id="library" level="project" name="Maven: com.google.guava:guava-primitives:r03" />
      <element id="library" level="project" name="Maven: com.google.guava:guava-base:r03" />
      <element id="library" level="project" name="Maven: com.google.guava:guava-annotations:r03" />
      <element id="library" level="project" name="Maven: net.logstash.logback:logstash-logback-encoder:7.4" />
      <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-databind:2.15.2" />
      <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-annotations:2.15.2" />
      <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-core:2.15.2" />
      <element id="library" level="project" name="Maven: ch.qos.logback:logback-classic:1.5.5" />
      <element id="library" level="project" name="Maven: ch.qos.logback:logback-core:1.5.5" />
      <element id="module-output" name="lab6common" />
      <element id="library" level="project" name="Maven: org.projectlombok:lombok:1.18.32" />
    </root>
  </artifact>
</component>